@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Figtree&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Aboreto', cursive;
  /* font-family: 'Figtree', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background: linear-gradient(to right, #4CA1AF, #2C3E50);
}

.eth-card {
  background-color:hsla(188,39%,49%,1);
  background-image:
  radial-gradient(at 42% 68%, hsla(128,76%,79%,1) 0px, transparent 50%),
  radial-gradient(at 64% 61%, hsla(12,95%,64%,1) 0px, transparent 50%),
  radial-gradient(at 47% 48%, hsla(265,99%,69%,1) 0px, transparent 50%),
  radial-gradient(at 60% 36%, hsla(329,83%,75%,1) 0px, transparent 50%),
  radial-gradient(at 70% 90%, hsla(243,81%,71%,1) 0px, transparent 50%),
  radial-gradient(at 7% 31%, hsla(27,80%,67%,1) 0px, transparent 50%),
  radial-gradient(at 28% 65%, hsla(123,99%,63%,1) 0px, transparent 50%),
  radial-gradient(at 17% 83%, hsla(226,79%,60%,1) 0px, transparent 50%);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.blue-glassmorphism {
  background: rgba(76, 161, 175, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.progresser {
  width: 6rem;
  height: auto;
}
.progresser__bar {
  width: 6rem;
  height: 0.7rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #2C3E50;
}
.progresser__bar-item {
  width: 3rem;
  height: 0.7rem;
  margin: 0 0 0 -2rem;
  border-radius: 1rem;
  background-color: #4CA1AF;
  animation: progresser 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
}
@keyframes progresser {
  0% {
    transform: translateX(0);
 }
  50% {
    transform: translateX(7rem);
 }
  100% {
    transform: translateX(0);
 }
}

@tailwind base;
@tailwind components;
@tailwind utilities;